setuptools>=61
secop-ophyd @ git+https://github.com/SampleEnvironment/secop-ophyd
nexuscreatorpy @ git+https://codebase.helmholtz.cloud/peter.wegmann/nexuscreator@string-fixes
tiled[client] @ git+https://github.com/bluesky/tiled@11f5f15a5f1b1ca1028afd8accf686f0edd51ccc
bluesky @ git+https://github.com/genematx/bluesky.git@stackable-consolidators
pip 
ipykernel
ophyd
matplotlib
prettyprint
numpy
punx
requests
h5py
lxml
PyQt5 
pyRestTable